.header {
    background-color:white;
    width: 960px;
    margin: auto;
    width: 50%;
    height: 120px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  ul {
    list-style-type: none;
    float: right;
  }
  
  .header h1 {
    color: #ffffff;
    background: teal;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 31px;
    float: left;
  }
  
  .nav li {
    display: inline-block;
  }

  .mainbody {
      width: 960px;
      margin: auto;
      width: 50%;
      background: white;
  }

  img{
      float: left;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  .heading{
      background: #ffffff;
      height: 120px;

  }

  body{
    background-image:url("interlaced.png");

  }